In [1]:
# 데이터

!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata

Cloning into 'yemoonsaBigdata'...
remote: Enumerating objects: 485, done.
remote: Counting objects: 100% (122/122), done.
remote: Compressing objects: 100% (78/78), done.
remote: Total 485 (delta 66), reused 49 (delta 44), pack-reused 363
Receiving objects: 100% (485/485), 8.89 MiB | 16.54 MiB/s, done.
Resolving deltas: 100% (251/251), done.

#문제1
* Wine 데이터 세트에서 total_phenols 결측치를 제거하고 alcalinity_of_ash 변수의 결측치는 중앙값으로 대체한 후, alcalinity_of_ash 평균값을 계산하시오(최종 계산 값의 소수점 이하는 버린다.)

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/yemoonsaBigdata/datasets/Part2/wine.csv')
df.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,class
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,NaN,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0

In [8]:
df_drop = df[df['total_phenols'].notnull()]

df_drop.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,class
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0
5,14.20,1.76,2.45,15.2,112.0,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450.0,0

In [9]:
df_drop['alcalinity_of_ash'].fillna(df['alcalinity_of_ash'].median())

0      15.6
1      11.2
3      16.8
4      21.0
5      15.2
       ...
172    20.0
173    20.5
174    23.0
175    20.0
177    24.5
Name: alcalinity_of_ash, Length: 163, dtype: float64

In [11]:
answer = np.trunc(df['alcalinity_of_ash'].mean())

print(answer)

19.0

#문제2
* Wine 데이터 세트에서 alcohol 값이 alcohol 평균 값 이상이고, color_intensity 값이 color_intensity 평균 값 이상인 데이터만 남겼을 때, 가장 많은 class 값을 구하시오.

In [13]:
df = pd.read_csv('/content/yemoonsaBigdata/datasets/Part2/wine.csv')

cond1 = df['alcohol'] >= df['alcohol'].mean()
cond2 = df['color_intensity'] >= df['color_intensity'].mean()

df_new = df[cond1 & cond2]

df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61 entries, 0 to 177
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   alcohol                       61 non-null     float64
 1   malic_acid                    61 non-null     float64
 2   ash                           61 non-null     float64
 3   alcalinity_of_ash             56 non-null     float64
 4   magnesium                     61 non-null     float64
 5   total_phenols                 57 non-null     float64
 6   flavanoids                    61 non-null     float64
 7   nonflavanoid_phenols          61 non-null     float64
 8   proanthocyanins               61 non-null     float64
 9   color_intensity               61 non-null     float64
 10  hue                           61 non-null     float64
 11  od280/od315_of_diluted_wines  61 non-null     float64
 12  proline                       61 non-null     float64
 13  class                         61 non-null     int64
dtypes: float64(13), int64(1)
memory usage: 7.1 KB

In [18]:
df_new['class'].unique()

array([0, 1, 2])

In [22]:
ans_pd = df_new['class'].value_counts()

print(ans_pd)

0    37
2    23
1     1
Name: class, dtype: int64

In [24]:
type(ans_pd)

pandas.core.series.Series

In [26]:
answer = ans_pd.index[0]

print(answer)

0

#문제3
* Wine 데이터 세트에서 class 1에 해당하는 데이터의 ash 평균값과 Wine 데이터 세트의 모든 결측치를 제거한 후의 ash 값의 평균값의 차이의 절댓값을 계산하시오(최종 계산 값의 소수점 아래 4번째 자리에서 반올림한다.)

In [27]:
df = pd.read_csv('/content/yemoonsaBigdata/datasets/Part2/wine.csv')

# class 1에 해당하는 데이터의 ash 평균값
df_1 = df[df['class']==1]
a = df_1['ash'].mean()
print(a)

2.244788732394366

In [28]:
# Wine 데이터 세트의 모든 결측치를 제거한 후의 ash 값의 평균값

df_2 = df[df.notnull()]

b = df_2['ash'].mean()
print(b)

2.3665168539325845

In [29]:
answer = round(abs(a - b), 3)
print(answer)

0.122

#문제4
* Wine 데이터 세트에서 alcohol 변수의 상위에서 20번째 값(alcohol을 오름차순 정렬했을 때 20번째 위치한 값)으로 상위 20개의 값을 변환한 후, proanthocyanins가 2 이하인 데이터를 추출하여 alcohol의 평균값을 계산하시오(최종 계산 값의 소수점 아래 3번째 자리에서 반올림한다.)

In [30]:
df = pd.read_csv('/content/yemoonsaBigdata/datasets/Part2/wine.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   alcohol                       178 non-null    float64
 1   malic_acid                    178 non-null    float64
 2   ash                           178 non-null    float64
 3   alcalinity_of_ash             168 non-null    float64
 4   magnesium                     178 non-null    float64
 5   total_phenols                 163 non-null    float64
 6   flavanoids                    178 non-null    float64
 7   nonflavanoid_phenols          178 non-null    float64
 8   proanthocyanins               178 non-null    float64
 9   color_intensity               178 non-null    float64
 10  hue                           178 non-null    float64
 11  od280/od315_of_diluted_wines  178 non-null    float64
 12  proline                       178 non-null    float64
 13  class                         178 non-null    int64
dtypes: float64(13), int64(1)
memory usage: 19.6 KB

In [57]:
df_new = df.sort_values(by='alcohol', ascending=False).reset_index(drop=True)
df_new.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,class
0,14.83,1.64,2.17,14.0,97.0,2.80,2.98,0.29,1.98,5.20,1.08,2.85,1045.0,0
1,14.75,1.73,2.39,11.4,91.0,3.10,3.69,0.43,2.81,5.40,1.25,2.73,1150.0,0
2,14.39,1.87,2.45,14.6,96.0,2.50,2.52,0.30,1.98,5.25,1.02,3.58,1290.0,0
3,14.38,3.59,2.28,16.0,102.0,3.25,3.17,0.27,2.19,4.90,1.04,3.44,1065.0,0
4,14.38,1.87,2.38,12.0,102.0,3.30,3.64,0.29,2.96,7.50,1.20,3.00,1547.0,0

In [58]:
# alcohol 변수의 상위에서 20번째 값(alcohol을 오름차순 정렬했을 때 20번째 위치한 값)으로 상위 20개의 값을 변환
df_new.loc[:19,'alcohol'] = df_new.loc[19,'alcohol']

In [59]:
answer = round(df_new[df_new['proanthocyanins'] <= 2]['alcohol'].mean(), 2)

print(answer)

12.92

#문제5
* Wine 데이터 세트에서 class 1에 해당하는 데이터의 proline 변수의 제3사분위수와 제1사분위수 차를 구하고, class 2에 해당하는 데이터의 proline 변수의 제3사분위수와 제1사분위수 차를 구하여 두 값의 차이의 절댓값을 계산하시오.

In [60]:
df = pd.read_csv('/content/yemoonsaBigdata/datasets/Part2/wine.csv')

# Wine 데이터 세트에서 class 1에 해당하는 데이터의 proline 변수의 제3사분위수와 제1사분위수 차

a = df[df['class']==1]['proline'].quantile(0.25) - df[df['class']==1]['proline'].quantile(0.75)

In [61]:
# class 2에 해당하는 데이터의 proline 변수의 제3사분위수와 제1사분위수 차

b = df[df['class']==2]['proline'].quantile(0.25) - df[df['class']==2]['proline'].quantile(0.75)

In [62]:
answer = abs(a-b)
print(answer)

68.5