#T1-17. 시계열 데이터1 Expected Question

2022년 5월 sales의 중앙값을 구하시오

데이터셋 : basic2.csv

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/basic2.csv')

df.head()

         Date     Sales      PV      UV  Events
0  2022-01-01  22711525  397349  4421.0       1
1  2022-01-02     36779    3969  2289.0       0
2  2022-01-03  13943875  373890     NaN       1
3  2022-01-04   8088593  142054  2157.0       0
4  2022-01-05   2395374  190684     NaN       0

In [20]:
df['Date']=pd.to_datetime(df['Date'])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    730 non-null    datetime64[ns]
 1   Sales   730 non-null    int64
 2   PV      730 non-null    int64
 3   UV      684 non-null    float64
 4   Events  730 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 28.6 KB

In [24]:
#Datetime -> year / month / day로 쪼개는 법!!

df['year']=df['Date'].dt.year
df['month'] = df['Date'].dt.month
df['date']=df['Date'].dt.day

df.head()

        Date     Sales      PV      UV  Events  year  month  date
0 2022-01-01  22711525  397349  4421.0       1  2022      1     1
1 2022-01-02     36779    3969  2289.0       0  2022      1     2
2 2022-01-03  13943875  373890     NaN       1  2022      1     3
3 2022-01-04   8088593  142054  2157.0       0  2022      1     4
4 2022-01-05   2395374  190684     NaN       0  2022      1     5

In [27]:
cond1 = df['year']==2022
cond2 = df['month']==5

answer = df[cond1&cond2]['Sales'].median()
print(answer)

1477685.0