#T1-8 누적합 그리고 보간(결측치 처리)
* 주어진 데이터 셋에서 'f2' 컬럼이 1인 조건에 해당하는 데이터의 'f1'컬럼 누적합을 계산한다. 이때 발생하는 누적합 결측치는 바로 뒤의 값을 채우고, 누적합의 평균값을 출력한다. (단, 결측치 바로 뒤의 값이 없으면 다음에 나오는 값을 채워넣는다)
* 데이터셋 : basic1.csv

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/basic1.csv')

In [2]:
 # 'f2' 컬럼이 1인 조건에 해당하는 데이터의 'f1'컬럼 누적합을 계산
df[df['f2']==1]['f1'].cumsum()

1       70.0
2      131.0
6      191.0
7      292.0
9      366.0
13     416.0
14     483.0
16       NaN
19     534.0
20       NaN
21     606.0
22     681.0
25     738.0
27     772.0
33       NaN
35     849.0
37       NaN
46     924.0
49    1002.0
51    1084.0
53       NaN
55       NaN
58       NaN
62    1170.0
65       NaN
66    1222.0
69    1318.0
72       NaN
77    1414.0
80    1464.0
82    1514.0
86       NaN
88    1580.0
91    1658.0
93       NaN
94    1701.0
95    1754.0
Name: f1, dtype: float64

In [4]:
df_new = df[df['f2']==1]['f1'].cumsum()

df_new

1       70.0
2      131.0
6      191.0
7      292.0
9      366.0
13     416.0
14     483.0
16       NaN
19     534.0
20       NaN
21     606.0
22     681.0
25     738.0
27     772.0
33       NaN
35     849.0
37       NaN
46     924.0
49    1002.0
51    1084.0
53       NaN
55       NaN
58       NaN
62    1170.0
65       NaN
66    1222.0
69    1318.0
72       NaN
77    1414.0
80    1464.0
82    1514.0
86       NaN
88    1580.0
91    1658.0
93       NaN
94    1701.0
95    1754.0
Name: f1, dtype: float64

In [6]:
# 누적합 결측치는 바로 뒤의 값을 채움 -> method = 'bfill'
# 이전 값으로 채우려면 -> method = 'pad'
df_new = df_new.fillna(method='bfill')

df_new

1       70.0
2      131.0
6      191.0
7      292.0
9      366.0
13     416.0
14     483.0
16     534.0
19     534.0
20     606.0
21     606.0
22     681.0
25     738.0
27     772.0
33     849.0
35     849.0
37     924.0
46     924.0
49    1002.0
51    1084.0
53    1170.0
55    1170.0
58    1170.0
62    1170.0
65    1222.0
66    1222.0
69    1318.0
72    1414.0
77    1414.0
80    1464.0
82    1514.0
86    1580.0
88    1580.0
91    1658.0
93    1701.0
94    1701.0
95    1754.0
Name: f1, dtype: float64

In [7]:
answer = df_new.mean()
print(answer)

980.3783783783783

#T1-9 수치형 변수 변환하기
* 주어진 데이터에서 'f5'컬럼을 표준화(Standardization (Z-score Normalization))하고 그 중앙값을 구하시오
* 데이터셋 : basic1.csv

In [16]:
df = pd.read_csv('/content/basic1.csv')

from sklearn.preprocessing import StandardScaler

In [18]:
scaler = StandardScaler()

df['f5'] = scaler.fit_transform(df[['f5']])

In [19]:
df['f5']

0     1.220815
1     0.127343
2    -1.394535
3    -0.143667
4    -0.970085
        ...
95   -0.143667
96    0.393896
97    1.472730
98    1.435683
99   -0.827418
Name: f5, Length: 100, dtype: float64

In [20]:
answer = df['f5'].median()

print(answer)

0.260619629559015

#T1-10 수치형 변수 변환하기
* 주어진 데이터에서 20세 이상인 데이터를 추출하고 'f1'컬럼을 결측치를 최빈값으로 채운 후, f1 컬럼의 여-존슨과 박스콕스 변환 값을 구하고, 두 값의 차이를 절대값으로 구한다음 모두 더해 소수점 둘째 자리까지 출력(반올림)하시오
* 데이터셋 : basic1.csv

In [100]:
df = pd.read_csv('/content/basic1.csv')

In [101]:
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [102]:
# 20세 이상 데이터 추출
df_new = df[df['age'] >= 20]
df_new

       id    age city    f1  f2   f3    f4         f5
2    id03   27.0   서울  61.0   1  NaN  ISTJ  17.252986
3    id04   75.0   서울   NaN   2  NaN  INFP  52.667078
4    id05   24.0   서울  85.0   2  NaN  ISFJ  29.269869
5    id06   22.0   서울  57.0   0  vip  INTP  20.129444
6    id07   36.3   서울  60.0   1  NaN  ISFJ   9.796378
..    ...    ...  ...   ...  ..  ...   ...        ...
94   id95   77.0   경기  43.0   1  NaN  INTJ  91.297791
95   id96   92.0   경기  53.0   1  NaN  ENTJ  52.667078
96   id97  100.0   경기   NaN   0  NaN  INFP  67.886373
97   id98   39.0   경기  58.0   2  NaN  INFP  98.429899
99  id100   47.0   경기  53.0   0  vip  ESFP  33.308999

[83 rows x 8 columns]

In [103]:
# f1컬럼 최빈값
a = df_new['f1'].mode()[0]

# 'f1'컬럼을 결측치를 최빈값으로 채우기
df_new = pd.DataFrame(df_new['f1'].fillna(a))

df_new

      f1
2   61.0
3   50.0
4   85.0
5   57.0
6   60.0
..   ...
94  43.0
95  53.0
96  50.0
97  58.0
99  53.0

[83 rows x 1 columns]

In [105]:
# f1 컬럼의 여-존슨과 박스콕스 변환 값을 구하기
# sklearn.preprocessing 의 PowerTransformer 활용

from sklearn.preprocessing import power_transform

# yeo-johnson 변환값
df_new['y'] = power_transform(df_new[['f1']], standardize=False)

df_new['y']

2     20.583423
3     17.968081
4     25.773745
5     19.653167
6     20.352915
        ...
94    16.198225
95    18.699749
96    17.968081
97    19.887818
99    18.699749
Name: y, Length: 83, dtype: float64

In [106]:
# box-cox 변환값
df_new['b'] = power_transform(df_new[['f1']], method='box-cox', standardize=False)

df_new['b']

2     21.067090
3     18.305263
4     26.557680
5     20.084373
6     20.823545
        ...
94    16.437954
95    19.077601
96    18.305263
97    20.332219
99    19.077601
Name: b, Length: 83, dtype: float64

In [110]:
answer = round(sum(abs(df_new['y'] - df_new['b'])),2)

print(answer)

39.17

#T1-11 min-max 기준 상하위 5%값
* 주어진 데이터에서 'f5'컬럼을 min-max 스케일 변환한 후, 상위 5%와 하위 5% 값의 합을 구하시오
* 데이터셋 : basic1.csv

In [111]:
df = pd.read_csv('/content/basic1.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      100 non-null    object
 1   age     100 non-null    float64
 2   city    100 non-null    object
 3   f1      69 non-null     float64
 4   f2      100 non-null    int64
 5   f3      5 non-null      object
 6   f4      100 non-null    object
 7   f5      100 non-null    float64
dtypes: float64(3), int64(1), object(4)
memory usage: 6.4+ KB

In [112]:
df['f5']

0     91.297791
1     60.339826
2     17.252986
3     52.667078
4     29.269869
        ...
95    52.667078
96    67.886373
97    98.429899
98    97.381034
99    33.308999
Name: f5, Length: 100, dtype: float64

In [114]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

df['f5'] = scaler.fit_transform(df[['f5']])
df['f5']

0     0.919533
1     0.570252
2     0.084129
3     0.483685
4     0.219708
        ...
95    0.483685
96    0.655395
97    1.000000
98    0.988166
99    0.265279
Name: f5, Length: 100, dtype: float64

In [115]:
high = df['f5'].quantile(0.95)

low = df['f5'].quantile(0.05)

answer = high + low

print(answer)

1.0248740983597389