# 퇴근후 딴짓 빅분기 실기 4회 작업형 1

# 1-1
* age 컬럼의 3사분위수와 1사분위수의 차를 절대값으로 구하고, 소수점 버려서, 정수로 출력하세요

In [1]:
import pandas as pd
df = pd.read_csv('/content/basic1.csv')

df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      100 non-null    object
 1   age     100 non-null    float64
 2   city    100 non-null    object
 3   f1      69 non-null     float64
 4   f2      100 non-null    int64
 5   f3      5 non-null      object
 6   f4      100 non-null    object
 7   f5      100 non-null    float64
dtypes: float64(3), int64(1), object(4)
memory usage: 6.4+ KB

In [6]:
q1 = df['age'].quantile(0.25)
q3 = df['age'].quantile(0.75)

diff = abs(q1-q3)
print(diff)

50.125

In [7]:
answer = int(diff.round(0))
print(answer)

50

# 1-2
* (loves반응+wows반응)/(reactions반응) 비율이 0.4보다 크고 0.5보다 작으면서, type 컬럼이 'video'인 데이터의 갯수를 구하세요

In [8]:
df2 = pd.read_csv('/content/fb.csv')
df2.head()

,id,type,reactions,comments,shares,likes,loves,wows,hahas,sads,angrys
0,1,video,529,512,262,432,92,3,1,1,0
1,2,photo,150,0,0,150,0,0,0,0,0
2,3,video,227,236,57,204,21,1,1,0,0
3,4,photo,111,0,0,111,0,0,0,0,0
4,5,photo,213,0,0,204,9,0,0,0,0

In [9]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7050 entries, 0 to 7049
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         7050 non-null   int64
 1   type       7050 non-null   object
 2   reactions  7050 non-null   int64
 3   comments   7050 non-null   int64
 4   shares     7050 non-null   int64
 5   likes      7050 non-null   int64
 6   loves      7050 non-null   int64
 7   wows       7050 non-null   int64
 8   hahas      7050 non-null   int64
 9   sads       7050 non-null   int64
 10  angrys     7050 non-null   int64
dtypes: int64(10), object(1)
memory usage: 606.0+ KB

In [21]:
condition1 = (df2['loves']+df2['wows'])/df2['reactions'] > 0.4
condition2 = (df2['loves']+df2['wows'])/df2['reactions'] < 0.5
condition3 = df2['type'] == 'video'

answer = len(df2[condition1 & condition2 & condition3])

print(answer)

90

# 1-3
* date_added가 2018년 1월 이면서 country가 United Kingdom 단독 제작인 데이터의 갯수를 구하세요

In [38]:
df3 = pd.read_csv('/content/nf.csv')
df3.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries"
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV"
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ..."

In [39]:
df3['date_added'] = pd.to_datetime(df3['date_added'])

df3['date_added'].head()

0   2021-09-25
1   2021-09-24
2   2021-09-24
3   2021-09-24
4   2021-09-24
Name: date_added, dtype: datetime64[ns]

In [40]:
df3['year'] = df3['date_added'].dt.year
df3['month'] = df3['date_added'].dt.month
df3['day'] = df3['date_added'].dt.day

In [41]:
df3.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,year,month,day
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021-09-25,2020,PG-13,90 min,Documentaries,2021.0,9.0,25.0
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries",2021.0,9.0,24.0
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",2021.0,9.0,24.0
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,2021-09-24,2021,TV-MA,1 Season,"Docuseries, Reality TV",2021.0,9.0,24.0
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",2021.0,9.0,24.0

In [42]:
cond1 = df3['year'] == 2018
cond2 = df3['month'] == 1
cond3 = df3['country'] == 'United Kingdom'

answer = len(df3[cond1 & cond2 & cond3])
print(answer)

6